
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), role: "form" html: { method: :post, class: "form-horizontal" }) do |f| %>
<legend>Resend confirmation instructions</legend>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: "control-label" %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %> 
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
  </div>
<% end %>
