<div class="form-body">

<%# Note: this will automatically choose POST => question#create if q is Question.new
and PATCH => question#update if q exists in DB. Cool! %>

<%= form_for q, role: "form" do |f| %>
<fieldset>
	<% if q.survey_section.nil? %>
	<%= hidden_field_tag :survey_section, @survey.sections.first.id %>
	<% else %>
	<%= hidden_field_tag :survey_section, q.survey_section_id %>
	<% end %>

	<% og = q.option_group %>
	<% og ||= OptionGroup.new %>
	<%= f.fields_for :option_group, og, role: "form" do |f2| %>
		<%= f2.label "Question Type", class: "control-label" %>
		<% types = QuestionType.all.order(:name).map{|type| [type.name.gsub("_"," ").capitalize, type.id]} %>

		<%= f2.select :type_id, options_for_select(types, q.question_type.try(:id)), {}, {class: "form-control"} %>
		
		<%= f.label "Question Name", class: "control-label"  %>
		<%= f.text_area :name, :placeholder => "This is a short name that will allow you to identify the question easily later e.g. Name", class: "form-control" %>
		<%= f.label "Question Text", class: "control-label"  %>
		<%= f.text_area :subtext, :placeholder => "This is the actual question text, for example: what is your name?", class: "form-control" %>
		
		<%# I have no idea what is supposed to be going on here. I'll come back to it. %>
		<div id="likert-5">
			<% availableqs = @questions.all.map{|qname| [qname.name]} %>
			<% availableqs.push "custom" %>
			<%#= select_tag(@likert_prevs, options_for_select(availableqs), class: "form-control") %>
			<%= 
			   select_tag(
			       :second_select, # name of selectbox
			       "<option>Please select something from first select!</option>")
			%> 
		</div>

		<div id="likert-options">
			<div id="likert-question-option<%= q.id %>">
				<%= f2.fields_for :option_choices, OptionChoice.new, role: "form" do |ff| %>
					<%= ff.label :choice_name, "First Option", class: "control-label" %>
					<%= ff.text_field :choice_name, class: "form-control" %>
				<% end #ff.fields_for%>
				<%= f.label "Likert Options", class: "control-label"  %>
				
			</div>
			<div id="likert-displayed-options">
			</div>
			<div id="likert-hidden-options">
				<select id="likert-options-select" class="form-control">
					<option value="Empty">Empty</option>	
					<option value="5">5</option>	
					<option value="7">7</option>	
					<option value="Custom">Custom</option>
				</select>	
			</div>
		</div>

		<p><%# QuestionType.multiples[0].name %></p>
		<div id="question-options<%= q.id %>">
			<% if true or !q.question_type.nil? && q.question_type.is_multiple? %>

					<div class="row">
					<%= f2.fields_for :option_choices, role: "form" do |f2f| %>
						<div class="col-lg-9">
						<%= f2f.label :choice_name, "Answer Option", class: "control-label" %>
						<%= f2f.text_field :choice_name, class: "form-control"%>	
						</div>
						<div class="col-lg-3">
						<br>
						<%= f2f.label "Delete", class: "control-label" do %>
						<%= f2f.check_box :_destroy %> Delete
						<% end #label tab %>						
						</div>
					<% end #f2.fields_for%>
					</div>

			<% end #if %>

			<%# This is essentially a dummy template for adding new options.
			Javascript handles cloning this for new entries.  %>		
			<div id="question-option<%= q.id %>">
			<%= f2.fields_for :option_choices, OptionChoice.new, role: "form" do |ff| %>
				<%= ff.label :choice_name, "Answer Option", class: "control-label" %>
				<%= ff.text_field :choice_name, class: "form-control" %>
			<% end %>
			</div>	
		<%= link_to "Add", "#", id: "add-question-option#{q.id}" %>
	<% end #f2 %>


	<div class="checkbox">
		<%= f.label :allow_other do %>
		<%= f.check_box :allow_other %> Allow other/custom entry?
		<% end %>
	</div>

	</div>

	<div class="checkbox">
		<%= f.label :required do %>
		<%= f.check_box :required %> Required?
		<% end %>
	</div>

	</fieldset>
	<div class="form-submit">
	<%= f.button "Save Question", class: "btn btn-primary btn-large" %>
	</div>
<% end #f %>