<div class="form-body">

<%# Note: this will automatically choose POST => question#create if q is Question.new
and PATCH => question#update if q exists in DB. Cool! %>

<%= form_for q, role: "form" do |f| %>
<fieldset>
	<% if q.survey_section.nil? %>
	<%= hidden_field_tag :survey_section, @survey.sections.first.id %>
	<% else %>
	<%= hidden_field_tag :survey_section, q.survey_section_id %>
	<% end %>

	<%= f.label "Question Type", class: "control-label" %>
	<% types = OptionGroup.all.order(:name).map{|opt| ["#{opt.question_type.name.gsub("_"," ").capitalize} - #{opt.name}", opt.id]} %>
	<%= f.select :group_id, options_for_select(types, q.group_id), {}, {class: "form-control", id: "question_group_id#{q.id}"} %>
	
	<%= f.label "Question Text", class: "control-label"  %>
	<%= f.text_area :subtext, class: "form-control" %>

	<div id="question-options<%= q.id %>">
		<% if OptionGroup.multiples.include? q.group_id %>
				<div class="row">
				<%= f.fields_for :option_choices, role: "form" do |f2| %>
					<div class="col-lg-9">
					<%= f2.label :choice_name, "Answer Option", class: "control-label" %>
					<%= f2.text_field :choice_name, class: "form-control"%>	
					</div>
					<div class="col-lg-3">
					<br>
					<%= label_tag "delete[#{f2.object.id}]", class: "control-label" do %>
					<%= check_box_tag "delete[#{f2.object.id}]" %> Delete
					<% end %>						
					</div>
				<% end %>
				</div>
		<% end %>

		<%# This is essentially a dummy template for adding new options.
		Javascript handles cloning this for new entries.  %>		
		<div id="question-option<%= q.id %>">
		<%= fields_for "option_choice[0]", OptionChoice.new, role: "form" do |f2| %>
			<%= f2.label :choice_name, "Answer Option", class: "control-label" %>
			<%= f2.text_field :choice_name, class: "form-control" %>
		<% end %>
		</div>	
	<%= link_to "Add", "#", id: "add-question-option#{q.id}" %>
	</div>

	<div class="checkbox">
		<%= f.label :required do %>
		<%= f.check_box :required %> Required?
		<% end %>
	</div>

	</fieldset>
	</div>
	<div class="form-submit">
	<%= f.button "Save Question", class: "btn btn-primary btn-large" %>
	</div>
<% end %>