<%= provide(:title, full_title("User Profile")) %>
<div class="row">
<div class="col-md-offset-1 col-md-10">

<div class="page-header">
<h1>My Surveys <br><small>View surveys you own and surveys you answered.</small></h1>
</div>
<%= link_to "Create new survey", new_survey_path, class: "btn btn-primary" %>
<%= link_to "Browse surveys", surveys_path, class: "btn btn-success" %>
<br>

<hr>
<br>
<h2>Created surveys</h2>
<% if @user.surveys.empty? %>
<div class="list-group">
	<div class="list-group-item center">
			<div class="list-group-item-header">
			<h2>
				You haven't created any surveys yet.
			</h2>
			</div>
			<div class="list-group-item-text">
			<br>
			<%= link_to "Create a new survey", new_survey_path, class: "btn btn-large btn-primary"  %>	
			<br>
			</div>
	</div>
</div>

<% end %>

<div class="list-group">
	<% @user.surveys.each do |survey| %>
		<div class="list-group-item">
		<div class="list-group-item-header">
			<h3>
				<div class="row">
				<div class="col-md-6">
				<b><%= survey.name %></b>
				</div>
				<div class="col-md-6">
					<%= link_to "Stats", survey_stats_path(survey), class: "btn btn-primary" %>
					<%= link_to "Edit", edit_survey_path(survey), class: "btn btn-success" %>
					<%= link_to "Charts", survey_chartcreate_path(survey), class: "btn btn-primary" %>
				</div>
				</div>
			</h3>
		</div>
		<p class="list-group-item-text">
		Number of responses: <%= ActiveSurvey.where(survey_id: survey.id, completed: true).count %>	
		</p>
		</div>
	<% end %>
</div>


<br>

<h2>Answered surveys</h2>
<% if @user.active_surveys.empty? %>
<div class="list-group">
	<div class="list-group-item center">
			<div class="list-group-item-header">
			<h3>
				You haven't answered any surveys yet.
			</h3>
			</div>
			<div class="list-group-item-text">
			<br>
			<%= link_to "Find a survey", surveys_path, class: "btn btn-lg btn-primary"  %>	
			<br>
			</div>
	</div>
</div>

<% end %>

<div class="list-group">
	<% @user.active_surveys.order(updated_at: :desc).each do |active_survey| %>
		<% survey = active_survey.survey %>
		<%= link_to survey_path(survey), class: "list-group-item list-group-item-#{active_survey.completed ? "success" : "info"}" do %>
		<div class="list-group-item-header">
			<h3>
				<b><%= survey.name %></b>
			</h3>
		</div>
		<p class="list-group-item-text">
			Completed: <%= t active_survey.completed.class %>
		</p>
		<% end %>
	<% end %>
</div>

</div>
</div>