<%= provide(:title, @survey.name) %>
<% content_for :js_include do %>
<%= javascript_include_tag "surveys" %>
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<% end %>
<h1>Lets chart some data!</h1>

<div class="row">
<div class="col-md-3" id="chart-options">
<legend>Choose a chart</legend>
<%= render partial: "select"%>
</div>

<div class="col-md-9" id="chart-display">
	<%= render partial: "display", locals: {chart: @chart, stats: @stats} %>
</div>

</div>