<%= form_for(@chart) do |f| %>
	<fieldset>

	<%= f.label "Chart Type", class: "control-label" %>
	<% chartoptions = ChartType.pluck(:type_id) %>
	<%= f.select :type_id, options_for_select(chartoptions, {class: "form-control"}) %>

	<%= f.label "Questions", class: "control-label" %>
	<% availableqs = @questions.all.map{|qname| [qname.name, qname.survey_section_id]} %>
	<%= f.select :question_id, options_for_select(availableqs, {class: "form-control"}) %>
		

	</fieldset>
	<div class="form-submit">
	<%= f.button "Make Graph", class: "btn btn-primary btn-large" %>
	</div>
<% end #f %>