<% provide(:title, @survey.name) %>
<% content_for :js_include do %>
<%= javascript_include_tag :modernizr %>
<%= javascript_include_tag "surveys" %>
<% end %>

<div class="row">
	<div class="col-md-2"></div>
		<div class="col-md-8">
		<div class="progress">
			<% value_now = @survey_section.idx - 1 %>
			<% pct_complete = (((@survey_section.idx.to_f-1)/@num_sections.to_f)*100).to_i  %>
			<div class="progress-bar progress-bar-striped" role="progressbar"
			aria-valuenow="<%= value_now %>" aria-valuemin="0" aria-valuemax="<%= @survey_section_last %>" style="width:<%= pct_complete %>%">
			<%= "#{pct_complete}% Completed" %>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
<div class="col-md-offset-2 col-md-8">

<%= form_tag survey_answer_path(@survey, @survey_section.idx), action: "post", role: "form" do %>
<div class="well">
<fieldset>
<legend><%= "Section #{@survey_section.idx}: " + @survey_section.title %></legend>

<h4><%= @survey_section.subtitle %></h4>
	<% @questions.each do |q| %>
		<% ans = @answers[q.id] %>
		<% ans ||= Answer.new(question_id: q.id) %>
		<% ans_options = ans.answer_options %>
		<% ans.answer_options.build if ans_options.empty? %>
		<div class="<%= 'has-error' unless ans.errors.empty? %>">
			<%= fields_for "answers[#{q.id}]", ans do |f| %>
				<%= f.hidden_field :question_id, value: q.id %>
				<%= render partial: "survey_sections/question_types/#{q.question_type.name}", locals: { f: f, q: q, ans_options: ans_options}, layout: 'survey_sections/question_types/question'  %>
			<% end %>
		</div>
	<% end %>
</fieldset>
</div>
	<div class="form-actions">
		<%= submit_tag @next_section_idx.nil? ? "Submit" : "Save", class: 'btn btn-success btn-lg', disabled: (!@active_survey.nil? and @active_survey.completed?) %>
		<div class="pull-right">
		<% if @prev_section_idx.nil? %>
			<%= link_to "Back", '#', class: "btn btn-primary btn-lg", disabled: true %>
		<% else %>
			<%= link_to "Back", survey_section_path(@survey, @prev_section_idx), class: "btn btn-primary btn-lg", data: (@active_survey.completed? ? nil : {confirm: "This will lose any unsaved answers. Continue?"}) %>
		<% end %>
		<% if @next_section_idx.nil? %>
			<%= link_to "Next", '#', class: "btn btn-primary btn-lg", disabled: true %>
		<% else %>
			<%= link_to "Next", survey_section_path(@survey, @next_section_idx), class: "btn btn-primary btn-lg", data: (@active_survey.completed? ? nil : {confirm: "This will lose any unsaved answers. Continue?"}) %>
		<% end %>
		</div>
	</div>
<% end %>
</div>
</div>