<% provide(:title, @survey.name) %>

<%= javascript_include_tag "surveys" %>

<div class="row">
<div class="col-xs-2"></div>
<div class="col-xs-8 well">

<fieldset>
<legend><%= "Section #{@survey_section.idx}: " + @survey_section.title %></legend>
<%= form_tag submit_answer_path(@survey, @survey_section.idx), action: "post", role: "form" do %>

	<% @questions.each do |q| %>
		<% ans = @answers[q.id] %>
		<% ans ||= Answer.new(question_id: q.id) %>
		<% ans_options = ans.answer_options %>
		<% ans.answer_options.build if ans_options.empty? %>
		<div class="<%= 'has-error' unless ans.errors.empty? %>">
			<%= fields_for "answers[#{q.id}]", ans do |f| %>
				<%= f.hidden_field :question_id, value: q.id %>
				<%= render partial: "survey_sections/question_types/#{q.option_group.question_type.name}", locals: { f: f, q: q, ans_options: ans_options}, layout: 'survey_sections/question_types/question'  %>
			<% end %>
		</div>
	<% end %>

	
	<div class="form-actions">
	<%= submit_tag "Submit answer", class: 'btn btn-primary', disabled: (!@active_survey.nil? and @active_survey.completed?) %>
	</div>
<% end %>
</fieldset>

</div>
<div class="col-xs-2"></div>
</div>