<%= provide(:title, @survey.name) %>

<% content_for :js_include do %>
<%= javascript_include_tag "surveys" %>
<% end %>

<h1>Edit Survey</h1>

<div class="row">
<div class="col-md-3" id="survey-options">
<legend>Add Components</legend>
<%= render partial: "questions/edit_question", locals: {q: Question.new(survey_section: @survey_section)} %>
</div>

<div id="tabs" class="col-md-9">
	<ul class="nav nav-tabs">
		<% @survey.sections.each do |sec| %>
		<li <%= "class=active" if @survey_section == sec %>><a data-toggle="tab" href="#tabs-<%= sec.idx %>" sec="<%= sec.id %>"><%= sec.idx %></a></li>
		<% end %>
		<li role="presentation"> 
		<%= link_to survey_new_section_path(@survey), class: "btn", id: "add-section-tab", method: :post do %>
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		<% end %>
		</li>
	</ul>

	<div class="tab-content">

	<% @survey.sections.each do |sec| %>
	<div id="tabs-<%= sec.idx %>" data-object="survey_section" data-url="<%= survey_section_path @survey, sec.idx %>" class="tab-pane well well-lg <%= "active" if @survey_section == sec %>">

	<legend>
	<div class="row">
	<div class="col-md-9">
	<%= best_in_place sec, :title, url: survey_section_path(@survey, sec.idx)
	# Add this line if we want a save button by the title.
	#, ok_button: "Save", ok_button_class: "btn btn-md btn-primary" 
	%>
	</div>
	<div class="col-md-3"><%= link_to "Delete", survey_section_path(@survey, sec.idx), method: 'delete', class: "btn btn-sm btn-danger"%></div></div></legend>
	<fieldset>
		<ul class="list-group">
		<% sec.questions.each do |q| %>
			<span class="badge pull-right">
				<!-- Link to modal -->
				<%= link_to "Edit", "#", "data-toggle" => "modal", "data-target" => "#myModal#{q.id}" %>
				<%= link_to "Delete", q, method: "delete", class: "text-danger" %>
			</span>
			<%= render partial: "questions/edit", locals: {q: q} %> 
				<%= fields_for "answers[#{q.id}]", Answer.new do |f| %>
				<% f.object.answer_options.build %>
					<%= render partial: "survey_sections/question_types/#{q.question_type.name}", locals: { f: f, q: q, ans_options: f.object.answer_options}, layout: "survey_sections/question_types/question"  %>
				<% end %>
		<% end %>
		</ul>
	
		<div class="form-actions">
		<%#= submit_tag "Submit answer", name: nil, class: 'btn btn-primary', disabled: true, title: "This is a preview."%>
		</div>
	</fieldset>	
	</div>
	<% end %>
	</div>

</div>

<div class="col-md-3">

</div>

</div>