<%= provide(:title, @survey.name) %>

<%= javascript_include_tag "surveys" %>

<h1>Edit Survey</h1>

<div class="row">
<div class="col-sm-3" id="survey-options">
<legend>Add Components</legend>
<%= render partial: "questions/edit_question", locals: {q: Question.new} %>
</div>

<div id="tabs" class="col-sm-6">
	<ul class="nav nav-tabs">
		<% @survey.sections.each do |sec| %>
		<li <%= "class=active" if @survey_section == sec %>><a data-toggle="tab" href="#tabs-<%= sec.idx %>" sec="<%= sec.id %>"><%= sec.idx %></a></li>
		<% end %>
		<li role="presentation"> 
		<%= link_to new_survey_section_path(@survey), class: "btn", id: "add-section-tab", method: :post do %>
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		<% end %>
		</li>
	</ul>

	<div class="tab-content">

	<% @survey.sections.each do |sec| %>
	<div id="tabs-<%= sec.idx %>" data-object="survey_section" data-url="<%= survey_update_section_path @survey, sec.idx %>" class="tab-pane well well-lg <%= "active" if @survey_section == sec %>">

	<legend>
	<div class="row">
	<div class="col-sm-9"><span class="rest-in-place" data-attribute="title"><%= sec.title %></span></div>
	<div class="col-sm-3"><%= link_to "Delete", survey_delete_section_path(@survey, sec.idx), method: 'delete', class: "btn btn-sm btn-danger"%></div></div></legend>
	<fieldset>
		<div class="row">
		<% sec.questions.each do |q| %>
		<div class="col-sm-8">
			<%= fields_for "answers[#{q.id}]", Answer.new do |f| %>
				<%= render partial: "survey_sections/question_types/#{q.option_group.question_type.name}", locals: { f: f, q: q}, layout: "survey_sections/question_types/question"  %>
			<% end %>
		</div>
		<div class="col-sm-1">
			<%= render partial: "questions/edit", locals: {q: q} %>
		</div>
		<% end %>
		
		</div>
	
		<div class="form-actions">
		<%#= submit_tag "Submit answer", name: nil, class: 'btn btn-primary', disabled: true, title: "This is a preview."%>
		</div>
	</fieldset>	
	</div>
	<% end %>
	</div>

</div>

<div class="col-sm-3">

</div>

</div>