<%= provide(:title, @survey.name) %>

<div class="center">

<h1><%= @survey.name %></h1>
	<div class="table-responsive">
	  <table class="table table-hover">
	    <thead>
	    <tr>
	    	<th>User</th>
	    	<% @questions.each do |q| %>
	    			<th><%= render partial: "questions/display", locals: {q: q} %></th>
	    	<% end %>
	    </tr
	    </thead>
	    <tbody>
	    	<% @users.each do |u| %>
	    	<tr>
	    		<th> <%= u.id %> </th>
	    		<% @questions.each do |q| %>
	    			<td><%= (@answers[u.id][q.id].answer_options.pluck(:answer_text) << @answers[u.id][q.id].answer_text).join(" ") unless @answers[u.id][q.id].nil? %></td>
	    		<% end %>
	    	</tr>
	    	<% end %>
	    </tbody>
	  </table>
	</div>

	<%= link_to "Export as CSV",  survey_stats_path(@survey, format: :csv), class: "btn btn-large btn-success"%>

</div>