 <legend>Add Surveys to Campaign</legend>
		<fieldset class="form-inline">
		<% if @user_surveys.empty? %>
		<div class="alert alert-danger" role="alert">
			<b>You do not currently have any surveys to add.</b> <br>
			<br>
			Please create a survey first.
			<%= link_to "Create survey", new_survey_path, class: "btn btn-primary btn-large" %>
		</div>
		<% else %>
			<div id="campaign-surveys">
			<%= f.fields_for :campaign_surveys, role: "form" do |f2| %>
			<div id=<%= "campaign-survey-#{f2.object.id}" %>>
			<div class="form-group">
				<%= f2.label :survey_id, class: "control-label" %>
				<% opt = @user_surveys.map{|srv| [srv.name, srv.id]} %>
				<%= f2.select :survey_id, options_for_select(opt, f2.object.survey_id), {include_blank: true}, {class: "form-control"} %>
				<span class="help-block"><br></span>
			</div>

			<div class="form-group">
				<% date_value ||= Time.now.strftime("%Y-%m-%d") %>
				<%= f2.label :start_date, class: "control-label" %>
				<%= f2.date_field :start_date, class: "form-control" %>
				<span class="help-block"><br></span>
			</div>

			<div class="form-group">
				<%= f2.label :end_date, class: "control-label" %>
				<%= f2.date_field :end_date, class: "form-control" %>
				<span class="help-block">Leave empty for indefinite.</span>
			</div>

			<div class="form-group">
				<%= link_to campaign_survey_path(f2.object), id: "remove-survey-remote", remote: true, method: :delete do %>
					<div class="btn-lg">
					<span class="glyphicon glyphicon-remove"></span>
					</div>
				<% end %>
				<span class="help-block"><br></span>
			</div>	

			<div class="clearfix"></div>
			</div>
			<% end %>
			</div>	

			<%# This is essentially a dummy template for adding new surveys.
			Javascript handles cloning this for new entries.  %>		
			<div id="campaign-survey">
			<%= f.fields_for :campaign_surveys, CampaignSurvey.new, role: "form" do |f2| %>
			<div class="form-group">
				<%= f2.label :survey_id, class: "control-label" %>
				<% opt = @user_surveys.map{|srv| [srv.name, srv.id]} %>
				<%= f2.select :survey_id, options_for_select(opt), {include_blank: true}, {class: "form-control"} %>
				<span class="help-block"><br></span>
			</div>

			<div class="form-group">
				<% date_value ||= Time.now.strftime("%Y-%m-%d") %>
				<%= f2.label :start_date, class: "control-label" %>
				<%= f2.date_field :start_date, class: "form-control", value: date_value %>
				<span class="help-block"><br></span>
			</div>

			<div class="form-group">
				<%= f2.label :end_date, class: "control-label" %>
				<%= f2.date_field :end_date, class: "form-control" %>
				<span class="help-block">Leave empty for indefinite.</span>
			</div>

			<div class="form-group">
				<%= link_to '#', id: "remove-survey" do %>
					<div class="btn-lg">
					<span class="glyphicon glyphicon-remove"></span>
					</div>
				<% end %>
				<span class="help-block"><br></span>
			</div>
			<% end %>
			</div>	
			<%= link_to "Add more", "#", id: "add-campaign-survey" %>
		<% end %>

	</fieldset>