<%= provide(:title, full_title("Campaigns Manager")) %>
<div class="row">
<div class="col-md-offset-1 col-md-10">

<div class="page-header">
<h1>My Campaigns <br><small>Create, edit and view your campaigns here.</small></h1>
</div>

<h3>Create a new campaign.</h3>
<%= link_to "Create a campaign", new_campaign_path, class: "btn btn-primary" %>

<br>
<br>

<% if @user.campaigns.empty? %>
<div class="list-group col-lg-8">
	<div class="list-group-item center">
			<div class="list-group-item-header">
			<h2>
				You haven't created any campaigns yet.
			</h2>
			</div>
			<div class="list-group-item-text">
			<br>
			<%= link_to "Create a new campaign", new_campaign_path, class: "btn btn-large btn-primary"  %>	
			<br>
			</div>
	</div>
</div>

<% end %>

<div class="list-group">
	<% @campaigns.each do |campaign| %>
		<%= link_to campaign_path(campaign), class: "list-group-item" do %>
		<div class="list-group-item-header">
			<div class="row">
			<div class="col-md-3">
			<h3>
				<%= campaign.name %>
			</h3>
			</div>
			<div class="col-md-3">
			<h3>
			<small>
				<% if campaign.live? %>
					<b>Running</b>
				<% end %>
			</small>
			</h3>
			</div>
			</div>
		</div>
		<p class="list-group-item-text">
		<div class="row">
			<%= render partial: "campaign_survey_small", collection: campaign.campaign_surveys, as: :cs %>
			</div>
		</p>

		<% end %>
	<% end %>
</div>

</div>
</div>