<%= provide(:title, "Create New Campaign") %>

<%= javascript_include_tag "campaigns" %>


<div class="row well">
  <div class="col-md-10 col-md-offset-1">
	<%= form_for @campaign do |f| %>
		<legend>Create a new campaign</legend>
		<fieldset class="form-horizontal">
		<div class="form-group">
  		  <%= f.label :name, class: "col-md-1 control-label"%>
		  <div class="col-md-5">
			<%= f.text_field :name, class: "form-control" %>
		  </div>
		</div>
      </fieldset>
      <%= render partial: 'add_surveys', locals: {f: f} %>
<br>
<br>
	<%= f.submit "Create", class: "btn btn-large btn-primary" %>

	<% end %>
  </div>
</div>
