<%= f.label q.subtext, class: "control-label" %>
<%= f.fields_for :answer_options, ans_options[0] || AnswerOption.new do |f2| %>
	<% q.question_options.each do |opt| %>
	<div class="radio">
		<%= f2.label :option_id  do %>
		<%= f2.radio_button :option_id, opt.id %> <%= opt.option_choice.choice_name.capitalize %>
		<% end %>
	</div>
	<% end %>
<% end %>