<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%# This line allows you to add custom javascript includes to the head
  by using content_for :js_include in a view. %>
  <%= yield(:js_include) if content_for?(:js_include) %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container" id="content">
     <% flash.each do |key, value| %>
        <div class="row alert alert-<%= bootstrap_alert(key) %> alert-dismissable", role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= value %>
        </div>
      <% end %>

      <%# Optionally yield to another wrapper layout first. %>
      <%= content_for?(:content) ? yield(:content) : yield %>


	  <%# Not really used at the moment render 'layouts/footer' %>
    <%# Remove while editing style debug(params) if Rails.env.development? %>
    
    </div>
  </body>
</html>
